@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    
    transform: rotatex(90);
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    
    transform: rotatex(90);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--theme-color);
  padding: 12px;
  cursor: pointer;
  border: 2px solid var(--theme-color);
  border-radius: 2px;
  font-size: 18px;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    color: var(--theme-hover);
  }
  &:disabled {
    opacity: 0.6;
    cursor: default;
    &:hover {
      transform: none;
    }
  }
  &.btn-link {
    border: none;
  }
  &.btn-icon {
    border: none;
    padding: 12px 8px;
  }
  &.btn-delete {
    color: var(--theme-delete);
  }
  &.btn-create {
    color: var(--theme-create);
  }
  &.btn-dropdown {
    font-size: 20px;
  }
  &.btn-undo {
    box-shadow: inset 0px 0px 0px 2px var(--theme-color);
    border: none;
    border-radius: 0;
    width: 42px;
    height: 42px;
  }
  &.btn-submit {
    width: 100%;
  }
  &.btn-fetchMore {
    width: 25%;
    margin-top: 0.8rem;
    margin-left: 5px;
  }
  &.btn-animation {
    animation: var(--fade-right-to-left);
  }
  &.btn-rotate {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  &.btn-rotate:active {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
    transition:  0s;
  }
}

.flex {
  display: flex;
  &.flex-center {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .btn {
    &.btn-fetchMore {
      width: 97%;
      margin: auto;
      margin-top: 1.3rem;
    }
    &:hover {
      transform: none;
      color: var(--theme-color);
    }
  }
}
