.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--theme-color);
  padding: 12px;
  cursor: pointer;
  border: 1px solid var(--theme-color);
  border-radius: 2px;
  font-size: 18px;

  &:hover {
    opacity: 0.9;
  }
  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
  &.btn-link {
    border: none;
    &:hover {
      color: white;
    }
  }
  &.btn-icon {
    svg {
      margin-right: 5px;
    }
  }
  &.btn-undo {
    box-shadow: inset 0px 0px 0px 2px #00ddff;
    border: none;
    border-radius: 0;
    width: 42px;
    height: 42px;
  }
  &.btn-submit {
    width: 100%;
  }
  &.btn-fetchMore {
    width: 25%;
    margin-top: 0.8rem;
    margin-left: 5px;
  }
}
@media (max-width: 700px) {
  .btn {
    &.btn-fetchMore {
      width: 97%;
      margin: auto;
      margin-top: 1.3rem;
    }
  }
}
