.form {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-text);

  h1 {
    color: var(--theme-color);
    margin-bottom: 0.5rem;
    text-align: center;
  }

  input[type='submit'] {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5rem;
  }
}

.selectContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}

.success {
  color: var(--theme-color);
  height: 100%;
}
