.boardItem {
  display: flex;
  margin: 0px 5px;
  border-bottom: 1px solid var(--theme-border-transparent);
}

.main {
  width: 73%;
  padding: 14px 3px;
  display: flex;
  justify-content: space-between;
}

.titleDiv {
  display: flex;
  flex-direction: column;
}
.title {
  color: var(--theme-color);
  font-weight: 500;
  font-size: 19px;
}

.right {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 8px 6px;

  p {
    font-size: 19px;
  }
}
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  a {
    padding: 10px 3px;
    color: var(--theme-color);
    svg {
      transition: 0.2s ease-in-out;
    }
    &:hover {
      svg {
        transform: rotate(90deg) scale(1.2);
      }
    }
  }
}
@media (max-width: 700px) {
  .title {
    max-width: 290px;
  }
  .content {
    width: 60%;
  }
  .right {
    width: 30%;
  }
  .settings {
    width: 10%;
  }
}
