.boardItem {
  display: flex;
  margin: 0px 5px;
  border-bottom: 1px solid var(--theme-border-transparent);
}

.content {
  width: 80%;

  padding: 14px 3px;
  display: flex;

  justify-content: space-between;
}

.titleDiv {
  display: flex;
  flex-direction: column;
}
.title {
  color: var(--theme-color);
  font-weight: 500;
  font-size: 19px;
}
.settingsAndAngle {
  position: relative;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8px 6px;
  a {
    position: absolute;
    top: 0;
    padding: 10px 3px;
    color: var(--theme-color);
    svg {
      transition: 0.2s ease-in-out;
    }
    &:hover {
      svg {
        transform: rotate(90deg) scale(1.2);
      }
    }
  }
  p {
    font-size: 19px;
  }
}
@media (max-width: 700px) {
  .title {
    max-width: 290px;
  }
  .content {
    width: 70%;
  }
  .settingsAndAngle {
    width: 30%;
  }
}
