.boardItem {
  display: flex;
  margin: 0 5px;
  border-bottom: 1px solid var(--theme-border-transparent);
}

.content {
  width: 80%;
  
  padding: 10px 3px;
  display: flex;

  justify-content: space-between;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  color: var(--theme-color);

  font-weight: 500;
  font-size: 17.5px;
}
.settingsAndAngle {
  width: 20%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  margin: 0 5px;
  padding: 10px 0;
  a {
    padding: 10px 6px;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--theme-color);
    svg {
      transition: 0.2s ease-in-out;
    }
    &:hover {
      svg {
        transform: rotate(90deg) scale(1.2);
      }
    }
  }
  p {
    font-size: 20px;
    min-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  font-size: 18px;
}
@media (max-width: 700px) {
  .title {
    max-width: 290px;
  }
  .content {
    width: 70%;
  }
  .settingsAndAngle {
    width: 30%;
  }
}
