.createProblem {
  width: 100%;
}
.editor {
  display: flex;
  margin: auto;
  width: 80%;
  gap: 2rem;
  padding: 0 10px;
}
.board {
  width: 350px;
  height: 478px;
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 700px) {
  .createProblem {
    width: 100%;
  }
  .editor {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
  .board {
    margin-top: 0;
    align-self: center;
  }
}
