.createProblem {
  width: 100%;
}
.editor {
  display: flex;
  margin: auto;
  width: 80%;
  gap: 2rem;
  padding: 0 10px;
}
.board {
  width: 350px;
  height: 478px;
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Custom Radio Buttons - https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.radioGroup {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

/* Customize the label (the container) */
.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Create a custom radio button */
.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .radio {
  box-shadow: inset 0px 0px 0px 2px #00ddff;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .radio {
  background-color: var(--theme-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radio:after {
  top: 13px;
  left: 13px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--theme-background);
}

@media (max-width: 700px) {
  .createProblem {
    width: 100%;
  }
  .editor {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
  .board {
    margin-top: 0;
    align-self: center;
  }
  .radioGroup {
    margin-top: 0.2rem;
  }
  .radioContainer:hover input ~ .radio {
    box-shadow: none;
  }
}
