.container {
  margin: 20px auto;
  margin-left: auto;
  margin-right: auto;
  width: clamp(350px, 90vw, 800px);
  position: relative;
  min-height: calc(100vh - 90px);
  h1 {
    font-size: clamp(1.6rem, 0.9556rem + 2.4889vw, 2.2rem);
  }
  h2 {
    font-size: clamp(1.2rem, 0.9667rem + 1.0667vw, 1.5rem);
  }
  h1,
  h2,
  svg {
    color: var(--theme-color);
    transition: 0.3s ease-in-out;
  }
  p {
    font-size: clamp(1rem, 0.8444rem + 0.7111vw, 1.2rem);
    margin-left: 2rem;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  button {
    position: absolute;
    left: 0;
    top: 0;
  }
  h1 {
    width: 100%;
    min-height: 50px;
    text-align: center;
  }
}
.question {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  svg {
    min-width: 40px;
  }
  &:hover {
    h2,
    svg {
      color: var(--theme-hover);
    }
  }
}
.footer {
  clear: both;
  position: sticky;
  width: 100%;
  height: 40px;
  text-align: center;
  a {
    color: var(--theme-color);
    p {
      font-size: clamp(1rem, 0.7545rem + 1.0909vw, 1.5rem);
      transition: 0.4s ease-in-out;
      &:hover {
        color: #3c31dd;
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    margin-top: 0;
    min-height: calc(100vh - 60px);
  }
  .question {
    &:hover {
      h2,
      svg {
        color: var(--theme-color);
      }
    }
  }
  .footer {
    a {
      p {
        &:hover {
          color: var(--theme-color);
        }
      }
    }
  }
}
