@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'utils';

:root {
  --theme-color: #e9c46a;
  --theme-delete: #bf212f;
  --theme-background: #39395f;
  --theme-foreground: #161923;
  --theme-foreground-hover: #3e445e;
  --theme-links: #287097;
  --theme-text: #dedeeb;
  --theme-border-transparent: rgba(188, 189, 208, 0.6);
  --theme-text-foreground: #fdfdfd;
  --theme-text-secondary: #737480;
  --theme-box-shadow: none;

  --fade-up: fadeUp 0.25s ease-in-out;
  --fade-up-slow: fadeUp 0.8s ease-in-out;
  --fade-down: fadeDown 0.25s linear;
  --fade-right-to-left: fadeRightToLeft 0.4s ease-in-out;
  --fade-in: fadeIn 0.25s ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeRightToLeft {
  0% {
    opacity: 0;
    transform: translatex(1rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  background: var(--theme-background);
  color: var(--theme-text);
}

a {
  color: inherit;
  text-decoration: none;
}

.hide-desktop {
  display: none;
}

.error {
  color: var(--theme-delete);
}

.spacer {
  display: inline;
  aspect-ratio: 960/300;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.svg-bg {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.layer1 {
  background-image: url('../images/landing/layer1.svg');
}
.wave-bottom {
  background-image: url('../images/landing/wave-bottom.svg');
}
.stacked-waves {
  background-image: url('../images/landing/stacked-waves-haikei.svg');
}
.orange {
  background: #e76f51;
}
.yellow {
  background: #e9c46a;
  color: black;
}
.purple {
  background: #3c31dd;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
  .hide-desktop {
    display: block;
  }
}
