@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'utils';

:root {
  --theme-color: #00ddff;
  --theme-background: #161923;
  --theme-foreground: #313649;
  --theme-foreground-hover: #3e445e;
  --theme-links: #287097;
  --theme-text: #bcbdd0;
  --theme-border-transparent: rgba(188, 189, 208, 0.6);
  --theme-text-foreground: #c3c4d6;
  --theme-text-secondary: #737480;
  --theme-box-shadow: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  background: var(--theme-background);
  color: var(--theme-text);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 700px) {
  .hide {
    display: none;
  }
}
