.header {
  width: 100%;
  height: 60px;
}

.container {
  max-width: 960px;
  height: 100%;
  padding: 0 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--theme-color);
    &:hover {
      color: white;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;

  strong {
    color: #00ddff;
    margin-left: 0.3rem;
  }
}
.switch {
  display: flex;
}

@media (max-width: 700px) {
  .hide {
    display: none;
  }
  .container {
    padding: 15px 15px;
  }
  .header {
    height: 80px;
  }
  .logo {
    img {
      width: 52px;
    }
  }
}
