.header {
  width: 100%;
  height: 75px;
}

.container {
  width: clamp(360px, 95vw, 800px);
  height: 100%;
  padding: 15px 6px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    gap: clamp(0rem, 1.1vw, 1.2rem);
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;

  svg {
    width: 42px;
    margin-right: 5px;
  }
  strong {
    color: var(--theme-color);
  }
}

.landingLinks {
  font-size: clamp(1.2rem, 0.4375rem + 2.5vw, 1.75rem);
}
.title {
  font-size: clamp(1.4rem, 0.4375rem + 2.5vw, 1.75rem);
  color: var(--theme-color);
}

@media (max-width: 700px) {
  .logo {
    margin-left: 12px;
    margin-top: 14px;
    strong {
      font-size: 24px;
    }
    svg {
      width: 52px;
      margin-right: 0;
    }
  }
}
