.header {
  width: 100%;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
  height: 60px;
}

.container {
  max-width: 960px;
  height: 100%;
  padding: 0 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: var(--theme-page-text);
    &:hover {
      color: var(--theme-page-text);
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.switch {
  display: flex;
}

@media (max-width: 700px) {
  .hide {
    display: none;
  }
  .container {
    padding: 0 15px;
  }
}
