.body {
  overflow-x: hidden;
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    text-align: center;
  }
  footer {
    position: relative;
    background: #00cc8e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: 100%;
    padding: 0 8vw;
    text-align: center;
  }

  h1 {
    padding: 10px 0;
    font-size: clamp(2.3rem, 1.1333rem + 5.3333vw, 3.8rem);
  }
  p {
    font-size: clamp(1.2rem, 0.5778rem + 2.8444vw, 2rem);
  }
  
}

.start {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  a {
    z-index: 0;
    width: 240px;
    margin-top: 100px;
    font-size: 19px;

  }
}

.startAnimation {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  transform-style: preserve-3d;
  will-change: border-radius;
  animation: morph 15s linear infinite;
}

.content {
  z-index: 1;
  padding: 200px 0;
  width: clamp(340px, 90vw, 900px);
}

.blob {
  width: clamp(500px, 90vw, 700px);
  position: absolute;
}

.footerContent {
  z-index: 0;

  a {
    color: var(--theme-color);
    p {
      font-size: clamp(1rem, 0.7545rem + 1.0909vw, 1.5rem);
      transition: 0.4s ease-in-out;
      &:hover {
        color: #3c31dd;
        transform: scale(1.04);
      }
    }
  }
}
.topWave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    z-index: 0;
    width: calc(138% + 1.3px);
  }
}
.bottomWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;

    z-index: 0;
    width: calc(100% + 1.3px);
  }
}

@keyframes morph{
  0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
@media (max-height: 900px) {
  .start {
    padding-top: 80px;
    padding-bottom: 65px;
  }
}
@media (max-height: 750px) {
  .start {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

