.container {
  margin: 20px auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 710px;
  background: var(--theme-background);
}

@media (max-width: 700px) {
  .container {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
}
