.backdrop {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  background: var(--theme-background);
  min-width: 340px;
  max-width: 380px;
  height: auto;
  border-radius: 10px;
  padding: 20px 10px;
  z-index: 3;
}

@media (max-width: 700px) {
  .backdrop {
    position: fixed;
  }
}
