.problem {
  width: 100%;

  h2 {
    color: var(--theme-color);
  }
}
.desktopTitle {
  display: block;
  padding-left: 30px;
  font-size: 1.75rem;
}
.mobileTitle {
  display: none;
}
.viewer {
  display: flex;
  margin: auto;
  width: 100%;
  gap: 1rem;
  padding: 0 10px;
}
.info {
  width: 100%;
}
.board {
  width: 350px;
  height: 478px;
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttons {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 0.6rem;
  height: 3.8rem;
  max-width: 93%;
  button {
    width: 100%;
  }
  a {
    width: 100%;
  }
}

.ascents {
  margin-top: 1rem;
  h3 {
    color: var(--theme-color);
    width: 100%;
    margin: auto;
    padding-left: 10px;
  }
}

@media (max-width: 700px) {
  .problem {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .desktopTitle {
    display: none;
  }
  .mobileTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2rem;
    margin-bottom: 0.2rem;
    gap: 3px;
    max-width: 350px;
    h2 {
      padding: 0 0.2rem;
    }
  }
  .grade {
    font-size: 30px;
  }
  .viewer {
    flex-direction: column;
    width: 350px;
    gap: 0.5rem;
    border-right: none;
    padding: 0;
  }
  .board {
    margin-top: 0;
    align-self: center;
  }
  .ascents {
    margin-top: 1rem;
    h3 {
      width: 348px;
      margin: auto;
      padding-left: 5px;
    }
  }
  .buttons {
    max-width: 350px;
  }
}
