.back {
  color: var(--theme-color);
}
.createBoard {
  padding: 15px;
  margin-top: 0.5rem;
  width: 260px;
  float: right;
  button {
    float: right;
    width: 100%;
  }
}
.createProblem {
  padding: 0px 5px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
  color: var(--theme-color);
}
.searchFailed {
  margin-left: 5px;
}
@media (max-width: 700px) {
  .createBoard {
    width: 100%;
  }
}
