.problemInfo {
  padding-bottom: 20px;
  font-size: 18px;
  p {
    margin-bottom: 1rem;
  }
  strong {
    color: var(--theme-color);
  }
}
.ratingAndGrade {
  font-size: 20px;
}

@media (max-width: 700px) {
  .problemInfo {
    padding-bottom: 30px;
    font-size: 18px;
    p {
      margin-bottom: 0.7rem;
    }
  }
  .ratingAndGrade {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;

    p {
      margin-bottom: 0rem;
    }
  }
}
