.problemInfo {
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 18px;

  p {
    margin-bottom: 1rem;
  }
  strong {
    color: var(--theme-color);
  }
}
.ratingAndGrade {
  font-size: 20px;
}

@media (max-width: 700px) {
  .problemInfo {
    padding-bottom: 30px;
    font-size: 18px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    p {
      margin-bottom: 0;
    }
  }
  .ratingAndGrade {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: var(--theme-color);
    border-bottom: 1px solid var(--theme-border-transparent);
    margin-bottom: 20px;
  }
}
