.problemItem {
  margin: 0 5px;
  padding: 10px 3px;
  border-bottom: 1px solid var(--theme-border-transparent);
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  &:hover {
    border-bottom: 1px solid var(--theme-hover);
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  color: var(--theme-color);
  font-weight: 500;
  font-size: 17.5px;
  svg {
    margin-left: 3px;
  }
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}
