.problem {
  width: 100%;
  h2 {
    color: var(--theme-color);
  }
}
.desktopTitle {
  display: block;
}
.mobileTitle {
  display: none;
}
.viewer {
  display: flex;
  margin: auto;
  width: 80%;
  gap: 2rem;
  padding: 0 10px;
}
.board {
  width: 350px;
  height: 478px;
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  height: 3.8rem;
  button {
    width: 100%;
  }
  a {
    width: 100%;
  }
}
.info {
  p {
    font-size: 18px;
    padding: 5px 0;
  }
}
.ascents {
  margin-top: 1rem;
  h3 {
    color: var(--theme-color);
    width: 80%;
    margin: auto;
    padding-left: 10px;
  }
}
@media (max-width: 700px) {
  .desktopTitle {
    display: none;
  }
  .mobileTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 3px;
  }
  .viewer {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    border-right: none;
  }
  .board {
    margin-top: 0;
    align-self: center;
  }
  .ascents {
    margin-top: 1rem;
    h3 {
      width: 348px;
      margin: auto;
    }
  }
}
