.profile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  section {
    position: relative;
  }
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--theme-color);
  margin-top: 4vh;
  img {
    border-radius: 50%;
  }
}
.snippets {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  h3,
  h1 {
    color: var(--theme-color);
  }
  strong {
    font-size: 22px;
  }
}
.content {
  width: 100%;
  padding: 15px 0;
  border-radius: 3%;
  border: 1px solid var(--theme-color);
}

@media (max-width: 700px) {
  .snippets {
    width: 90%;
  }
}
