.profile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  section {
    position: relative;
  }
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--theme-color);
  img {
    border-radius: 50%;
  }
}

.chart {
  margin-top: 1rem;
  canvas {
    width: clamp(340px, 92vw, 600px);
  }
}
