.profile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  section {
    position: relative;
  }
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--theme-color);
  margin-top: 4vh;
  img {
    border-radius: 50%;
  }
}
.body {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 150px 150px;
  gap: 5px;
  div {
    min-height: 125.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid var(--theme-color);
    background-color: var(--theme-foreground);
    text-align: center;

    strong {
      color: var(--theme-color);
    }
    p {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}
