.searchbar {
  display: flex;
  align-items: center;
  input[type='text'] {
    width: 170px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
    background: var(--theme-foreground);
    color: var(--theme-text);
    border: 1px solid var(--theme-foreground);
    &:focus {
      border: 1px solid var(--theme-color);
      outline: none;
      
    }
  }
}

