.searchbar {
  display: flex;
  align-items: center;
  input[type='text'] {
    width: 200px;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
    background: var(--theme-foreground);
    color: var(--theme-text);
    border: 1px solid var(--theme-foreground);
    border-radius: 5px;
    &:focus {
      border: 1px solid var(--theme-color);
      border-radius: 5px;
      outline: none;
      
    }
  }
}

